<ion-header [translucent]="false" collapse="fade">
  <ion-toolbar>
    <ion-title>Formulários disponíveis</ion-title>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink]="['/']"
        ><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
      <ion-button
        fill="solid"
        class="button-default"
        [routerLink]="['/formulario']"
        >Formulários</ion-button
      >
      <ion-button
        ><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="item-container" *ngFor="let form of forms; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Formulário {{i+1}}</ion-card-subtitle>
          <ion-card-title>{{formsTitle[i]}}</ion-card-title>
        </ion-card-header>
        <ion-button class="access-form status-{{i}}" [disabled]="i == 2 || i == 5" (click)="i == 2 || i == 5 ? '' : redirectTo('competencias')">{{i == 2 || i == 5 ? 'Avaliação finalizada' : 'Acessar avaliação'}}<ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
