@import "../home/home.page.scss";

div.item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

div.item-container:nth-child(even) ion-card {
    background-color: var(--sesigray300);
}
