//Container de competencias
div.item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

div.item-container:not(:last-child) {
    border-bottom: 1px solid var(--sesigray100);
}
//Container de competencias

//Botões de competencia
.competence-button {
    width: 100%;
}

.competence-button span {
    font-size: 18px;
    margin-right: 16px;
}

.competence-button::part(native) {
    padding: 12px;
    font-size: 16px;
}


