<ion-header [translucent]="false" collapse="fade">
  <ion-toolbar>
    <ion-title>Competências</ion-title>
    <ion-note color="medium">Formulário 1006</ion-note>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink]="['/']"
        ><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
      <ion-button
        fill="solid"
        class="button-default"
        [routerLink]="['/formulario']"
        >Formulários</ion-button
      >
      <ion-button
        ><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="item-container">
      <ion-button class="competence-button ct-1" [routerLink]="['/formulario']">
        <span>Competência 1</span>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="item-container">
      <ion-button class="competence-button ct-2" [routerLink]="['/formulario']">
        <span>Competência 2</span>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="item-container">
      <ion-button class="competence-button ct-3" [routerLink]="['/formulario']">
        <span>Competência 3</span>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="item-container">
      <ion-button class="competence-button ct-4" [routerLink]="['/formulario']">
        <span>Competência 4</span>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="item-container">
      <ion-button class="competence-button ct-5" [routerLink]="['/formulario']">
        <span>Competência 5</span>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>
