//Seletores Radio
ion-radio::part(mark) {
  background: var(--sesi);
}

ion-radio::part(container) {
  border-color: var(--sesigray100);
}
//Seletores Radio

//Container da questão
.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 12px;
  border-bottom: 1px solid var(--sesigray100);
}

.question-container:nth-child(even) {
  background-color: var(--sesigray300);
}

.question-container ion-label {
  color: var(--sesiescuro);
  font-weight: 600;
}

.question-container .multiple-choice-question ion-label {
  color: var(--area5);
}

.question-container-list-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: 80%;
  padding: none;
}

.submit-container {
  background-color: #fff !important;
  border-bottom: none !important;
}
//Container da questão

//Container principal da primeira experiencia
.experience-container-1 {
  background-color: var(--sesilightbo);
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 8px;
  width: 100%;
}

.experience-container-1 .section-title {
  font-size: 20px;
}

