* {
  font-family: "Inter", sans-serif;
}

//Container Geral
#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  max-width: 414px;
  margin: 100px auto;
}

.styled-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.ion-radio-wrapper-general {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
//Container Geral

//Header
ion-header {
    background-color: var(--sesi);
  }

ion-toolbar {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: var(--sesi);
  gap: 16px;
  color: #fff;
}

ion-note {
  padding: 0 20px;
  color: #fff;
}

.menu-buttons .menu-icon {
  color: #fff;
}
//Header

//Buttons Container
.menu-buttons {
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 10px;
}
//Buttons Container

//Botões Default
.button-default {
  --background: #fff;
  --color: var(--sesi);
}

.upload-button {
  --background: var(--sesi) !important;
}

.button-default::part(native) {
  border-radius: 4px;
}

.upload-button ion-icon {
  margin-left: 8px;
}

.primary-button,
.secondary-button {
    width: 100%;
    border: 8px;
    --color: #fff;
}

.primary-button {
    --background: var(--sesi); 
}

.secondary-button {
    --background: var(--sesifbi);
}

//Botões Default

//Card
ion-card ion-card-title {
  color: var(--sesiescuro);
}
//Card

//Calendário
ion-datetime,
ion-datetime-button {
  --ion-color-base: var(--sesi) !important;
}

ion-datetime-button,
ion-datetime-button::part(native) {
  background-color: var(--sesidark2);
  border-radius: 8px;
  color: #fff;
}

ion-datetime.md::part(active) {
  --ion-color-base: var(--area5) !important; 
  background-color: transparent;
  color: var(--sesiescuro);
}

ion-datetime.md::part(calendar-day):focus {
  box-shadow: none !important;
}
//Calendário

//Seletores Radio
ion-radio::part(mark) {
  background: var(--sesi);
}

ion-radio::part(container) {
  border-color: var(--sesigray100);
}
//Seletores Radio

//Seletor Checkbox
ion-checkbox {
  --checkbox-background-checked: var(--sesi);
}

ion-checkbox::part(container) {
  outline: 2px solid var(--sesigray100);
  border: none;
  padding: 2px;
}
//Seletor Checkbox

//Text-area
ion-textarea {
  width: 100%;
  border: 2px solid #c0c0c0;
  border-radius: 4px;
  padding-left: 4px;
  background-color: #fff;
}

ion-textarea:focus {
  border: 2px solid var(--sesi);
}

ion-textarea.has-focus.sc-ion-textarea-md-h
  .textarea-highlight.sc-ion-textarea-md {
  transform: scale(0) !important;
  display: none !important;
}

ion-textarea.has-focus.textarea-highlight {
  display: none !important;
}

ion-textarea.has-focus.sc-ion-textarea-md-h
  .textarea-highlight.sc-ion-textarea-md {
  transform: scale(0) !important;
}

ion-textarea.has-focus {
  --highlight-color: var(--sesi);
  border: 2px solid var(--sesi) !important;
}
//Text-area

//Resposta curta
ion-input {
  border: 2px solid #c0c0c0;
  border-radius: 4px;
  padding-left: 4px !important;
}

ion-input.has-focus {
  --highlight-color: var(--sesi);
  border: 2px solid var(--sesi);
}
//Resposta curta

//Custom Label
ion-label.question-label {
  color: var(--sesi);
  font-weight: 600;
}
//Custom Label

//Toogle Custom
ion-toggle.toggle-checked::part(track),
ion-toggle.toggle-checked::part(handle) {
  background: var(--sesi);
}
//Toogle Custom

//Multiple-choice-question
.multiple-choice-question {
  width: 100%;
}

.multiple-choice-question ion-item ion-radio {
  margin-right: 4px;
}
//Multiple-choice-question

//Container da questão
.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 12px;
  border-bottom: 1px solid var(--sesigray100);
}

.question-container:nth-child(even) {
  background-color: var(--sesigray300);
}

.question-container ion-label {
  color: var(--sesiescuro);
  font-weight: 600;
}

.question-container .multiple-choice-question ion-label {
  color: var(--area5);
}

.question-container-list-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: 80%;
  padding: none;
}

.submit-container {
  background-color: #fff !important;
  border-bottom: none !important;
}
//Container da questão

//Container principal da primeira experiencia
.experience-container-1 {
  background-color: var(--sesilightbo);
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 8px;
  width: 100%;
}

.experience-container-1 .section-title {
  font-size: 20px;
}

.experience-container-1 ion-input {
  background-color: #fff;
}
