<ion-header [translucent]="false" collapse="fade">
  <ion-toolbar>
    <!-- Aqui entraria o nome do formulario -->
    <ion-title>Participação em atividades sociais</ion-title>
    <ion-note color="medium">Formulário 1006 - Competência 3</ion-note>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink]="['/']"
        ><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
      <ion-button
        fill="solid"
        class="button-default"
        [routerLink]="['/formulario']"
        >Formulários</ion-button
      >
      <ion-button
        ><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="question-container">
      <ion-label class="question-label">De onde venho / Como fui...:</ion-label>
      <ion-textarea
        placeholder="Digite sua resposta"
        [autoGrow]="true"
        value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum."
      >
      </ion-textarea>
    </div>
    <div class="question-container">
      <ion-label class="question-label">Quem sou / Como sou...:</ion-label>
      <ion-text class="required-question">*Obrigatório</ion-text>
      <ion-textarea
        placeholder="Digite sua resposta"
        [autoGrow]="true"
        value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum."
      >
      </ion-textarea>
      <ion-label class="question-label"
        >Fotos do passado (arquivo JPG ou PNG) - Tamanho Máximo das Fotos 5
        Megas:</ion-label
      >
      <div class="ion-radio-wrapper-general">
        <input
          type="file"
          id="file-upload"
          onChange="{setImage}"
          style="display: none"
        />
        <ion-button class="upload-button">
          <span>Enviar arquivo</span>
          <ion-icon name="cloud-upload-outline" size="medium"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="question-container">
      <ion-label class="question-label"
        >Como serei / Amanhã me vejo...:</ion-label
      >
      <ion-textarea
        placeholder="Digite sua resposta"
        [autoGrow]="true"
        value=""
      >
      </ion-textarea>
    </div>
    <div class="question-container">
      <ion-label class="question-label">Tenho dúvidas sobre...:</ion-label>
      <ion-textarea
        placeholder="Digite sua resposta"
        [autoGrow]="true"
        value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum."
      >
      </ion-textarea>
    </div>
    <div class="question-container">
      <ion-label class="question-label"
        >Participo de modo responsável e cívico, na vida da comunidade (colaboro
        com a autarquia, escola, paróquia, escoteiros, movimentos sociais,
        associações, etc.)</ion-label
      >
      <ion-textarea
        placeholder="Digite sua resposta"
        [autoGrow]="true"
        value=""
      >
      </ion-textarea>
    </div>
    <div class="question-container">
      <ion-label class="question-label"
        >Trabalho em equipe cooperativamente:</ion-label
      >
      <div class="ion-radio-wrapper-general">
        <ion-checkbox>Desportivo</ion-checkbox>
        <ion-checkbox>Cultural</ion-checkbox>
        <ion-checkbox>Religioso</ion-checkbox>
        <ion-checkbox>Filantropico</ion-checkbox>
      </div>
    </div>
    <div class="question-container">
      <ion-toggle [enableOnOffLabels]="true" (ionChange)="showOthersInput($event)"><ion-label>Tem experiência profissional?</ion-label></ion-toggle>
      <ion-input
        placeholder="Digite sua resposta"
        style="display: none"
        class="other-options-input"
      ></ion-input>
      <div class="group-questions experience-container-1" style="display: none;">
        <ion-label class="section-title">
          Experiência 1
        </ion-label>
        <ion-label>Data de entrada</ion-label>
        <ion-datetime-button datetime="start-datetime"></ion-datetime-button>
        <ion-label>Data de saída</ion-label>
        <ion-datetime-button datetime="end-datetime"></ion-datetime-button>
        <ion-label>
          Profissão
        </ion-label>
        <ion-input placeholder="Digite sua resposta"></ion-input>
        <ion-label>
          Empresa
        </ion-label>
        <ion-input placeholder="Digite sua resposta"></ion-input>
        <ion-label>
          Atividades realizadas
        </ion-label>
        <ion-textarea placeholder="Digite sua resposta"></ion-textarea>
        <ion-label>
          Motivos de Satisfação (Recordações positivas)
        </ion-label>
        <ion-textarea placeholder="Digite sua resposta"></ion-textarea>
        <ion-label>
          Motivos de insatisfação (Recordações negativas)
        </ion-label>
        <ion-textarea placeholder="Digite sua resposta"></ion-textarea>
        <ion-label>
          O que aprendi e conservo até hoje
        </ion-label>
        <ion-textarea placeholder="Digite sua resposta"></ion-textarea>
        <ion-button class="primary-button">Adicionar experiência <ion-icon name="add-outline"></ion-icon></ion-button>
      </div>  
    </div>
    <div class="question-container">
      <ion-label>Usar a expressão "Alô galera do SENAI" é um modo mais informal de se comunicar. Essa forma de se dirigir à Geração SESI SENAI</ion-label>
      <ion-radio-group value="question" class="multiple-choice-question">
        <ion-item>
          <ion-radio value="a"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="b"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="c"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="d"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="e"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="f"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
        <ion-item text-wrap>
          <ion-radio value="g"></ion-radio><ion-label class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel odio sit amet elit efficitur venenatis. Nunc placerat eget eros et suscipit. Proin at molestie lacus. Vestibulum eget eros arcu. Aenean faucibus ornare turpis et lacinia.</ion-label>
        </ion-item>
      </ion-radio-group>
    </div>
    <div class="question-container submit-container">
      <ion-button class="secondary-button">Finalizar</ion-button>
    </div>
  </ion-list>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="start-datetime" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="end-datetime" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
