<ion-header [translucent]="false">
  <ion-toolbar>
    <!-- Aqui entraria o nome do aluno -->
    <ion-title> SESI Ionic Custom Components</ion-title>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink] = "['/']"><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon></ion-button>
      <ion-button fill="solid" class="button-default" expand="block" id="open-modal">Seções</ion-button>
      <ion-button><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="styled-component">
      <ion-title>Custom card</ion-title>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Form 1008</ion-card-subtitle>
          <ion-card-title>História da Minha Vida</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel nisi
          hendrerit, vulputate eros ac, hendrerit nisl. Proin vestibulum ligula
          a nulla porta porta. Etiam egestas accumsan mi.
          dolor mollis posuere.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="styled-component">
      <ion-title>Custom form label</ion-title>
      <div class="ion-radio-wrapper-general">
        <ion-label class="question-label">Para mim, reconhecimento de saberes é...:</ion-label>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom calendar</ion-title>
      <ion-datetime presentation="date" size="cover" displayFormat="MM/DD/YYYY"></ion-datetime>
    </div>
    <div class="styled-component">
      <ion-title>Custom radio</ion-title>
      <ion-radio-group value="turtles" class="ion-radio-wrapper-general">
        <ion-radio value="dogs">Identidade visual</ion-radio><br />
        <ion-radio value="cats">Contrato de serviço</ion-radio><br />
        <ion-radio value="turtles">Ambientalismo</ion-radio><br />
        <ion-radio value="fish">Coffee break</ion-radio><br />
      </ion-radio-group>
    </div>
    <div class="styled-component">
      <ion-title>Custom checkbox</ion-title>
      <div class="ion-radio-wrapper-general">
        <ion-checkbox>Desportivo</ion-checkbox>
        <ion-checkbox>Cultural</ion-checkbox>
        <ion-checkbox>Religioso</ion-checkbox>
        <ion-checkbox>Filantropico</ion-checkbox>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom short text response</ion-title>
      <div class="ion-radio-wrapper-general">
        <ion-input placeholder="Digite sua resposta"></ion-input>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom long text response</ion-title>
      <div class="ion-radio-wrapper-general">
        <ion-textarea placeholder="Digite sua resposta" rows="2" autoGrow="true"></ion-textarea>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom input toogle</ion-title>
      <div class="ion-radio-wrapper-general">
        <ion-toggle [enableOnOffLabels]="true">Tem experiência profissional?</ion-toggle>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom multiple-choice</ion-title>
      <ion-radio-group value="question" class="multiple-choice-question">
        <ion-item>
          <ion-radio value="a"></ion-radio><ion-label><strong>A)</strong> Identidade visual.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="b"></ion-radio><ion-label><strong>B)</strong> Contrato de serviço..</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="c"></ion-radio><ion-label><strong>C)</strong> Ambientalismo.</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio value="d"></ion-radio><ion-label><strong>D)</strong> Coffee break.</ion-label>
        </ion-item>
      </ion-radio-group>
    </div>
    <div class="styled-component">
      <ion-title>Custom input file</ion-title>
      <div class="ion-radio-wrapper-general">
        <input type="file" id="file-upload" onChange={setImage} style="display: none;"/>
        <ion-button class="upload-button">
          <span>Enviar arquivo</span>
          <ion-icon name="cloud-upload-outline" size="medium"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="styled-component">
      <ion-title>Custom submit buttons</ion-title>
      <ion-button class="primary-button">Salvar Parcial</ion-button>
      <ion-button class="secondary-button">Finalizar</ion-button>
    </div>
  </div>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Voltar</ion-button>
          </ion-buttons>
          <ion-title>Selecione uma seção</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="styled-component">
          <ion-button class="primary-button additional-button" (click)="redirectTo('login')">Exmplo Login</ion-button>
          <ion-button class="primary-button" (click)="redirectTo('competencias')">Exemplo Competências</ion-button>
          <ion-button class="secondary-button" (click)="redirectTo('formulario')">Exemplo de formulário</ion-button>
          <ion-button class="secondary-button additional-button" (click)="redirectTo('list-forms')">Exemplo Indíce de formulários</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
