//Container Geral
#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  max-width: 414px;
  margin: 100px auto;
}

#container ion-list {
  gap: 16px;
}

.styled-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--sesigray200);
}
//Container Geral

//Botões Default
.primary-button,
.secondary-button {
    width: 90%;
    margin: 0 auto;
}
//Botões Default

